# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Virtual Environment
# ==========================================
venv/
.env/
.venv/

# ==========================================
# VS Code
# ==========================================
.vscode/
.history/

# ==========================================
# JetBrains
# ==========================================
.idea/

# ==========================================
# Logs
# ==========================================
*.log

# ==========================================
# Build
# ==========================================
build/
dist/
*.egg-info/

# ==========================================
# Python Cache
# ==========================================
.pytest_cache/
.mypy_cache/
.cache/

# ==========================================
# YOLO Training Outputs
# ==========================================
runs/

# ==========================================
# Model Checkpoints
# ==========================================
*.pt
*.pth
*.onnx
*.engine

# ==========================================
# Dataset
# ==========================================
dataset/
data/
images/
labels/

# ==========================================
# OS Files
# ==========================================
Thumbs.db
Desktop.ini
.DS_Store

# ==========================================
# Temporary Files
# ==========================================
*.tmp
*.bak
*.swp